.StationPreview {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  display: flex;
  align-items: center;

  a {
    background-color: aliceblue;
    border-radius: var(--main-radius);
    padding: 10px 30px;
    box-shadow: rgba(100, 100, 111, 0.1) 0px 7px 29px 0px;
    transition: box-shadow 0.1s linear;
    text-decoration: none;
    color: var(--font-color-main);

    display: flex;
    gap: 20px;
    align-items: center;

    img{
      height: 15px;
    }

    .StationPreview__writing {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      p {
        margin: 0;
      }

      .StationPreview__small {
        font-style: italic;
        font-size: 12px;
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
    }
  }
}